@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
}

<!-- Login Start -->
<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Daxil Olun!</h1>
                <div asp-validation-summary="ModelOnly"></div>
                <form method="post">
                    <input asp-for="CurrentPassword" type="password" placeholder="Hazırki Şifrəniz">
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    <input asp-for="NewPassword" type="password" placeholder="Yeni Şifrəniz">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <input asp-for="ConfirmPassword" type="password" placeholder="Şifrənizi Təkrar Edin">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <input type="submit" id="btn" value="Şifrəni dəyiş!">
                </form>
                <a href="/Home/Index">Ehtiyac yoxdur!</a>
                <br>
            </div>
        </div>
    </div>
</section>
<!-- Login End -->
