@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<!-- Login Start -->
<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Daxil Olun!</h1>
                <div asp-validation-summary="ModelOnly"></div>
                <form method="post">
                    <input asp-for="Email" type="email" placeholder="Emailiniz">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input type="submit" id="btn" value="Göndər">
                </form>
                <a href="/Auth/Login">Hesabınıza daxil olun!</a>
            </div>
        </div>
    </div>
</section>
<!-- Login End -->
