@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<!-- Login Start -->
<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Parolu Dəyişin!</h1>
                <div asp-validation-summary="All"></div>
                <form method="post">
                    <input asp-for="Email" type="hidden">
                    <input asp-for="Token" type="hidden">
                    <div class="form-group">
                        <input asp-for="Password" type="password" placeholder="Şifrəniz">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" type="password" placeholder="Şifrənizi Təkrar Edin">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    

                    
                    <input type="submit" id="btn" value="Daxil Ol!">
                </form>
                <a href="/Auth/Register">Yeni hesab yarat!</a>
                <br>
                <a href="/Auth/ForgotPassword">Şifrəmi unutmuşam!</a>
            </div>
        </div>
    </div>
</section>
<!-- Login End -->
