@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1><!-- Article Start -->
<section class="article-section">
    <div class="container">
        <div class="article-img">
            <img src="~/image/13650.jpg" alt="">
            <h3>Elanlar</h3>
            <div class="article-bg"></div>
        </div>
    </div>
</section>
<!-- Article end -->
<!-- Category Start -->
<section class="category-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div data-tilt class="category-card">
                    <a href="/Advertisement/AutoSalon">
                        <div class="img-box">
                            <img src="~/image/photo-1549399542-7e3f8b79c341.jfif" alt="">
                        </div>
                        <div class="img-title">
                            <h2>Avto Salonlar və Ehtiyat Hissələri</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div data-tilt class="category-card">
                    <a href="/Advertisement/Insurance">
                        <div class="img-box">
                            <img src="~/image/hand-key-holding-car.jpg" alt="">
                        </div>
                        <div class="img-title">
                            <h2>Sığorta Şirkətləri</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div data-tilt class="category-card">
                    <a href="/Advertisement/AutoService">
                        <div class="img-box">
                            <img src="~/image/184367.jpg" alt="">
                        </div>
                        <div class="img-title">
                            <h2>Avto Servislər</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div data-tilt class="category-card">
                    <a href="/Advertisement/Master">
                        <div class="img-box">
                            <img src="~/image/photo-1568644180197-ed3148a382ce.jfif" alt="">
                        </div>
                        <div class="img-title">
                            <h2>Avtomobil Ustaları</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div data-tilt class="category-card">
                    <a href="/Advertisement/Rent">
                        <div class="img-box">
                            <img src="~/image/photo-1575764679429-57558f46f259.jfif" alt="">
                        </div>
                        <div class="img-title">
                            <h2>Avtomobil İcarəsi</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div data-tilt class="category-card">
                    <a href="/Advertisement/Transport">
                        <div class="img-box">
                            <img src="~/image/photo-1591419478162-a4dd21b7ec0a.jfif" alt="">
                        </div>
                        <div class="img-title">
                            <h2>Daşıma Şirkətləri</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category End -->
