@model HomeViewModel
@{
    ViewData["Title"] = "Master";
}

<!-- Article Start -->
<section class="article-section">
    <div class="container">
        <div class="article-img">
            <img src="~/image/pexels-negative-space-97075.jpg" alt="">
            <h3>Avtomobil Ustaları</h3>
            <div class="article-bg"></div>
        </div>
    </div>
</section>
<!-- Article end -->
<!-- Auto Salon Start -->
<section class="auto-section">
    <div class="container">
        <div class="row">
            @{ 
                MasterVM vm = new MasterVM()
                {
                    Masters = Model.Masters.OrderByDescending(x => x.Id).Take(9).ToList()
                };
            }
            <partial name="_MasterPartial" model="vm" />
        </div>
        <div class="text-center">
            <button id="masterloadMore" class="btn btn-outline-primary" style="font-size: 15px; padding: 15px 30px ">DAHA ÇOX</button>
        </div>
    </div>
</section>
<!-- Auto Salon End -->
