@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "Create";
    ViewData["activeTab"] = "Role";
}

@section Title{
    <h4 class="page-title text-uppercase font-medium font-20">Role</h4>
}

<form method="post" class="text-center w-100">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="w-100 form-check font-16 font-medium" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-block btn-outline-dark btn-lg" />
</form>