@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
    ViewData["activeTab"] = "Role";
}

@section Title{
    <h4 class="page-title text-uppercase font-medium font-20">Role</h4>
}

<a href="/Admin/Roles/Create" class="btn btn-outline-dark btn-block btn-lg text-capitalize">Create</a>

<table class="table table-bordered table-striped table-hover">
    <thead class="text-center">
        <tr>
            <th>Role</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>